<h1>Log In Below:</h1>
<form action="/sessions" method="post">
  Email: <input type="text" name="email" id="email"><br><br>
  Password: <input type="text" name="password" id="password"><br><br>
  <input type="submit" value="Log In" id="Log In">
</form>

