<h1>Log In Below:</h1>

<form method="POST" action="/sessions">

  <fieldset>
    <legend>User Login</legend>
    <p>
      <label for="email">Email Address:</label>
      <input id="email" type="email" name="email"><br>
    </p>
    <p>
      <label for="password">Password: </label>
      <input id="password" type="password" name="password">
    </p>
    <p>  <input type="submit" value="Log In" id="submit"></p>
  </fieldset>
</form>

