<h1>Log In Below:</h1>

<form action='/sessions' method='POST'>
        <ol>
            <li><label for="email">Email:</label></li>
            <input type="text"  name="email">
            <br>
            <li><label for="password">Password:</label></li>
            <input type="text"  name="password">
        </ol>
        <button type='submit' value='submit'>Log In</button>
</form>