<h1>Sign Up Below:</h1>

<form method="POST" action="/registrations">

  <fieldset>
    <legend>New User</legend>
    <p>
      <label for="name">Name:</label>
      <input id="name" type="text" name="name">
    </p>
    <p>
      <label for="email">Email Address:</label>
      <input id="email" type="email" name="email"><br>
    </p>
    <p>
      <label for="password">Password: </label>
      <input id="password" type="password" name="password">
    </p>
    <p>  <input type="submit" value="Sign Up" id="submit"></p>
  </fieldset>
</form>